# SQL and SQLite Test Notebook

This notebook demonstrates basic SQL operations and SQLite usage in Python.

In [16]:
# Import necessary libraries
import sqlite3
import pandas as pd

print("Hello! Libraries imported successfully.")

Hello! Libraries imported successfully.

In [23]:
# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create a sample table
cursor.execute('''
    CREATE TABLE users (
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        email TEXT
    )
''')

print("Database and table created successfully.")

Database and table created successfully.

In [28]:
# Insert sample data
sample_data = [
    ('Alice', 25, 'alice@example.com'),
    ('Bob', 30, 'bob@example.com'),
    ('Charlie', 35, 'charlie@example.com')
]

cursor.executemany('INSERT INTO users (name, age, email) VALUES (?, ?, ?)', sample_data)
conn.commit()

print("Sample data inserted successfully.")

ProgrammingError: Cannot operate on a closed database.

In [ ]:
# Query the data
cursor.execute('SELECT * FROM users')
rows = cursor.fetchall()

print("Users in the database:")
for row in rows:
    print(row)

Users in the database:
(1, 'Alice', 25, 'alice@example.com')
(2, 'Bob', 30, 'bob@example.com')
(3, 'Charlie', 35, 'charlie@example.com')

In [ ]:
# Use pandas to read from SQLite
df = pd.read_sql_query('SELECT * FROM users', conn)
print(df)

   id     name  age                email
0   1    Alice   25    alice@example.com
1   2      Bob   30      bob@example.com
2   3  Charlie   35  charlie@example.com

In [ ]:
# Close the connection
conn.close()
print("Database connection closed.")

Database connection closed.