In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data.csv')
##fetch the first 5 rows
df.head(5)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [4]:
df.tail(5)  #last 5 rows

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [5]:
df.describe()  #statistical summary

            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [6]:
df.dtypes

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [8]:
#handling missing values 
df.isnull()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
df.isnull().any() #handling missing values
#df.isnull().sum()

Index                False
Customer Id          False
First Name           False
Last Name            False
Company              False
City                 False
Country              False
Phone 1              False
Phone 2              False
Email                False
Subscription Date    False
Website              False
dtype: bool

In [17]:
df_filled = df.fillna(0)

In [24]:
# filling missing values with the column mode (most frequent city)
df['city_fillNA'] = df['City'].fillna(df['City'].mode()[0])
df.drop('Sales_fillNA', axis=1, inplace=True)
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,city_fillNA
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,East Leonard
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,East Jimmychester
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,Isabelborough
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,Bensonview
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,West Priscilla
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/,East Richard
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/,New Bradview
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/,Ortegaland
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/,Lake Elijahview
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/,Judymouth

In [25]:
df.dtypes

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
city_fillNA          object
dtype: object

In [37]:
##renaming columns
df.rename(columns={'City':'Citynew', 'Country':'Countrynew'}, inplace=True)
df.head()

,Index,Customer Id,First Name,Last Name,Company,Citynew,Countrynew,Phone 1,Phone 2,Email,Subscription Date,Website,city_fillNA
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,East Leonard
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,East Jimmychester
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,Isabelborough
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,Bensonview
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,West Priscilla

In [ ]:
#change column data type
df['indexNew'] = df['Index'].astype(float)
df.head()
df.dtypes
#df.head() is for displaying the first 5 rows of the dataframe

Index                  int64
Customer Id           object
First Name            object
Last Name             object
Company               object
Citynew               object
Countrynew            object
Phone 1               object
Phone 2               object
Email                 object
Subscription Date     object
Website               object
city_fillNA           object
Salesnew             float64
indexNew             float64
dtype: object

In [42]:
#create a column with random values
import numpy as np
df['RandomValues'] = np.random.randint(1,100,size=len(df))
df.head()

,Index,Customer Id,First Name,Last Name,Company,Citynew,Countrynew,Phone 1,Phone 2,Email,Subscription Date,Website,city_fillNA,Salesnew,indexNew,RandomValues
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,East Leonard,NaN,1.0,90
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,East Jimmychester,NaN,2.0,52
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,Isabelborough,NaN,3.0,56
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,Bensonview,NaN,4.0,78
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,West Priscilla,NaN,5.0,49

In [43]:
#change column data type
df['NewRanvalues'] = df['RandomValues'].astype(float)
df.head()

,Index,Customer Id,First Name,Last Name,Company,Citynew,Countrynew,Phone 1,Phone 2,Email,Subscription Date,Website,city_fillNA,Salesnew,indexNew,RandomValues,NewRanvalues
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,East Leonard,NaN,1.0,90,90.0
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,East Jimmychester,NaN,2.0,52,52.0
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,Isabelborough,NaN,3.0,56,56.0
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,Bensonview,NaN,4.0,78,78.0
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,West Priscilla,NaN,5.0,49,49.0

In [44]:
#data aggregating and grouping
df.head()

,Index,Customer Id,First Name,Last Name,Company,Citynew,Countrynew,Phone 1,Phone 2,Email,Subscription Date,Website,city_fillNA,Salesnew,indexNew,RandomValues,NewRanvalues
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,East Leonard,NaN,1.0,90,90.0
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,East Jimmychester,NaN,2.0,52,52.0
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,Isabelborough,NaN,3.0,56,56.0
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,Bensonview,NaN,4.0,78,78.0
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,West Priscilla,NaN,5.0,49,49.0

In [47]:
#data aggregating and grouping
df_grouped = df.groupby('Countrynew').agg({'NewRanvalues':'sum', 'Index':'mean'})
df_grouped.reset_index(inplace=True)
df_grouped

             Countrynew  NewRanvalues  Index
0               Albania          90.0   25.0
1               Algeria          95.0   52.0
2              Anguilla          60.0   93.0
3   Antigua and Barbuda          56.0    3.0
4                 Aruba          12.0   99.0
..                  ...           ...    ...
80           Uzbekistan          49.0   47.0
81              Vietnam          24.0   12.0
82       Western Sahara          64.0   17.0
83                Yemen           4.0   89.0
84             Zimbabwe         155.0   52.0

[85 rows x 3 columns]

In [49]:
# use the correct column name 'Customer Id' (capital I)
grouped_sum = df.groupby(['Customer Id', 'Countrynew'])['NewRanvalues'].sum()
print(grouped_sum)

Customer Id      Countrynew
010468dAA11382c  Lao People's Democratic Republic    29.0
03A1E62ADdeb31c  Fiji                                10.0
053d585Ab6b3159  Slovakia (Slovak Republic)          49.0
09D7D7C8Fe09aea  Panama                              76.0
0F60FF3DdCd7aB0  French Polynesia                    16.0
                                                     ...
efeb73245CDf1fF  Yemen                                4.0
f3BEf3Be028166f  Ecuador                             39.0
fD780ED8dbEae7B  Palau                               74.0
fF1b6c9E8Fbf1ff  Lithuania                           95.0
faCEF517ae7D8eB  Swaziland                           17.0
Name: NewRanvalues, Length: 100, dtype: float64

In [50]:
##aggregating multiple functions
grouped_agg=df.groupby('Countrynew').agg({'NewRanvalues':['sum','mean','max'], 'Index':['mean','min']})
grouped_agg

                    NewRanvalues             Index
                             sum  mean   max  mean min
Countrynew
Albania                     90.0  90.0  90.0  25.0  25
Algeria                     95.0  95.0  95.0  52.0  52
Anguilla                    60.0  60.0  60.0  93.0  93
Antigua and Barbuda         56.0  56.0  56.0   3.0   3
Aruba                       12.0  12.0  12.0  99.0  99
...                          ...   ...   ...   ...  ..
Uzbekistan                  49.0  49.0  49.0  47.0  47
Vietnam                     24.0  24.0  24.0  12.0  12
Western Sahara              64.0  64.0  64.0  17.0  17
Yemen                        4.0   4.0   4.0  89.0  89
Zimbabwe                   155.0  77.5  88.0  52.0  31

[85 rows x 5 columns]

In [67]:
#marging and joining dataframes
df1=pd.DataFrame({'Key':['A','B','C'],'Value1':[10,20,30]})
df2=pd.DataFrame({'Key':['A','B','D'],'Value2':[40,50,60]})

In [68]:
df1

  Key  Value1
0   A      10
1   B      20
2   C      30

In [ ]:
## merge dataframes on 'Key' column
merged_df = pd.merge(df1, df2, on='Key', how='outer')
merged_df
#difference between inner and outer join is inner join returns only the common keys in both dataframes 
# while outer join returns all keys from both dataframes filling missing values with NaN
#and left join returns all keys from the left dataframe and matching keys from the right dataframe
#right join returns all keys from the right dataframe and matching keys from the left dataframe

  Key  Value1  Value2
0   A    10.0    40.0
1   B    20.0    50.0
2   C    30.0     NaN
3   D     NaN    60.0