In [1]:
%pip install pandas
import pandas as pd
data=[1,2,3,4,5]
series=pd.Series(data)
print(series)

Requirement already satisfied: pandas in c:\users\asus-1\desktop\ai\venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus-1\desktop\ai\venv\lib\site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus-1\desktop\ai\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus-1\desktop\ai\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus-1\desktop\ai\venv\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\asus-1\desktop\ai\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
data=[1,2,3,4,5]
series=pd.Series(data)
print("Series:\n",series)

Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
#create a series from a dictionary
data_dict={'a':10,'b':20,'c':30}
series_dict=pd.Series(data_dict)
print("Series from dictionary:\n",series_dict)

Series from dictionary:
 a    10
b    20
c    30
dtype: int64

In [8]:
data=[10,20,30]
index=['a','b','c']
series_indexed=pd.Series(data,index=index)
print("Indexed Series:\n",series_indexed)

Indexed Series:
 a    10
b    20
c    30
dtype: int64

In [ ]:
#create dataframe from dictionary
data_frame_dict={
    'Name':['Alice','Bob','Charlie'],
    'Age':[25,30,35],
    'City':['New York','Los Angeles','Chicago']
    }
df=pd.DataFrame(data_frame_dict)
print("Data Frame from dictionary:\n",df)

Data Frame from dictionary:
       Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [11]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [12]:
import numpy as np
np.array(df)

array([['Alice', 25, 'New York'],
       ['Bob', 30, 'Los Angeles'],
       ['Charlie', 35, 'Chicago']], dtype=object)

In [13]:
#create a dataframe from a list of dictionaries
data_list_dicts=[
    {'Name':'David','Age':40,'City':'Miami'},
    {'Name':'Eva','Age':28,'City':'Seattle'},
    {'Name':'Frank','Age':33,'City':'Boston'}
    ]
df_list_dicts=pd.DataFrame(data_list_dicts)
print("Data Frame from list of dictionaries:\n",df_list_dicts)
print(type(df_list_dicts))

Data Frame from list of dictionaries:
     Name  Age     City
0  David   40    Miami
1    Eva   28  Seattle
2  Frank   33   Boston
<class 'pandas.core.frame.DataFrame'>

In [ ]:
pd.read_csv('data.csv')
pd.head()

In [ ]:
#accessing data from dataframe
df['Name']
type(df['Name']) #Series

In [ ]:
df.loc[0]  #first row as Series
type(df.loc[0]) #Series

In [ ]:
df.iloc[0]  #first row as Series
type(df.iloc[0]) #Series
df.loc[0,'Name']  #specific value
type(df.loc[0,'Name']) #string
df.iloc[0,0]  #specific value
type(df.iloc[0,0]) #string
# iloc is integer-location based indexing for selection by position whereas loc is label-based indexing for selection by label.
#loc includes the last element of the range specified while iloc excludes it.
df[['Name','City']]  #multiple columns
type(df[['Name','City']]) #DataFrame

In [ ]:
df.at[1,'Age']  #specific value
type(df.at[1,'Age']) #int
df.iat[1,1]  #specific value
type(df.iat[1,1]) #int

In [ ]:
#data manipulation with dataframe
df['Salary']=[70000,80000,90000]
df

In [ ]:
#to remove a column
df.drop('Salary',axis=1,inplace=True)
df

In [ ]:
#add age to a column
df['Age']=df['Age']+5
df

In [ ]:
df.drop(0,axis=0,inplace=True)
df

In [ ]:
#display the data types of each column 
df.dtypes
df.info()
#display summary statistics of numerical columns
df.describe()
df.describe(include='all')
#sort the dataframe by age in descending order
df.sort_values(by='Age',ascending=False)
df.sort_values(by='Name')
df.sort_values(by=['Age','Name'],ascending=[False,True])
#filter rows where age is greater than 30
df[df['Age']>30]
df.loc[df['Age']>30]
df[df['City']=='Chicago']
df.loc[df['City']=='Chicago']
#filter rows where age is greater than 30 and city is Chicago
df[(df['Age']>30) & (df['City']=='Chicago')]
df.loc[(df['Age']>30) & (df['City']=='Chicago')]
#filter rows where age is greater than 30 or city is Chicago
df[(df['Age']>30) | (df['City']=='Chicago')]
df.loc[(df['Age']>30) | (df['City']=='Chicago')]
#reset the index of the dataframe
df.reset_index(drop=True,inplace=True)
df